<template>
  <div id="app">
    <h1 class="text-5xl font-bold underline py-12">Hello Mommy!</h1>
    <div class="py-4 font-bold">
      <CreateTodo :text="text" @onAddTodo="addTodo" :onType="onType" />
    </div>
    <TodoList @onDelete="onDelete" :data="todoList" />
  </div>
</template>

<script>
import TodoList from "./components/TodoList.vue";
import CreateTodo from "./components/CreateTodo.vue";
import Http from "./utils/http";
export default {
  name: "App",
  components: {
    TodoList,
    CreateTodo,
  },
  data() {
    return {
      text: "",
      todoList: [],
    };
  },

  async beforeCreate() {
    this.todoList = await Http.post("todo_list");
    console.log(this.todoList);
  },
  mounted() {
    document.title = "TodoList";
  },
  methods: {
    addTodo(v) {
      if (v.trim().replace(/\r?\n|\r/g, " ").length > 0) {
        Http.post("add_todo", { text: v });
        this.todoList.push({
          text: v,
        });
      }
    },

    onDelete(id) {
      Http.post("del_todo", { id }).then(() => {
        this.todoList = this.todoList.filter((t) => t.id != id);
      });
    },
  },
  destroy: {},
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
