<template>
  <div class="flex justify-center items-center space-x-2">
    <button
      class="text-xl w-1/12 py-4 bg-green-400 rounded-2xl hover:bg-green-500"
      @click="onAddTodo"
    >
      Create Todo
    </button>
    <label for="todo">
      <input
        name="todo"
        v-model="todo_text"
        placeholder="type something ...!"
        type="text"
        class="
          bg-cyan-50
          rounded-2xl
          h-16
          font-bold
          text-2xl
          px-6
          py-4
          ring-1 ring-cyan-300
          focus:outline-green-400 focus:bg-green-50
        "
      />
    </label>
  </div>
</template>

<script>
export default {
  name: "CreateTodo",

  data() {
    return {
      todo_text: "",
    };
  },
  methods: {
    onAddTodo() {
      this.$emit("onAddTodo", this.todo_text);
      this.todo_text = "";
    },
  },
};
</script>

<style>
</style>
