<template>
  <div class="w-1/2 m-auto">
    <div class="w-1/2 m-auto py-1.5 select-none">
      <div
        class="
          bg-cyan-200
          text-2xl
          py-4
          border-y-2 border-y-slate-300
          cursor-pointer
          rounded-2xl
          hover:opacity-75
          select-none
          my-2
        "
        v-for="(todo, idx) in data"
        :key="idx"
        :id="todo.id"
      >
        <h1 class="font-bold" @dblclick="onDelete(todo.id)">{{ todo.text }}</h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TodoList",
  props: {
    data: [],
  },
  components: {},
  methods: {
    onDelete(id) {
      this.$emit("onDelete", id);
    },
  },
};
</script>

<style>
</style>
